---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <!-- Page content -->
    <main>
      {{ content }}
    </main>

    <!-- Message to display at the bottom of the page -->
    <div style="text-align: center; padding: 10px; font-size: 0.9em; color: #555; margin-top: 20px;">
        <strong>Currently, I am not hiring interns.</strong> Due to the high volume of such inquiries, I am unable to respond individually to each request. Thank you for your understanding.
    </div>

    <!-- Footer -->
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
