---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <!-- Main content -->
    {{ content }}

    <!-- Message at the bottom, aligned with content and left-aligned -->
    {% if page.url == "/" %}
    <div style="max-width: 800px; margin: 0 auto; padding: 10px 15px; font-size: 0.9em; color: #555; margin-top: 20px; text-align: left; border-top: 1px solid #ddd;">
        <strong>Currently, I am not hiring interns.</strong> Due to the high volume of such inquiries, I am unable to respond individually to each request. Thank you for your understanding.
    </div>
    {% endif %}

    <!-- Footer -->
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
